@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>To-do Items</h1>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">To-do items</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: todoItems">
                    <li>
                        <strong><span data-bind="text: OwnerName"></span> (<span data-bind="text: CreatedDateTime"></span>)</strong>: <span data-bind="text: Name"></span>&nbsp;
                        [ <a href="#" data-bind="click: $parent.getTodoItemDetail">Details</a> ]&nbsp;
                        [ <a href="#" data-bind="click: $parent.deleteTodoItem">Delete</a> ]
                    </li>
                </ul>
                <button class="btn btn-default">Clear</button>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <!-- ko if:detail() -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Owner</td>
                    <td data-bind="text: detail().OwnerName"></td>
                </tr>
                <tr>
                    <td>Created Date/Time</td>
                    <td data-bind="text: detail().CreatedDateTime"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td data-bind="text: detail().Name"></td>
                </tr>
                <tr>
                    <td>Is Completed?</td>
                    <td data-bind="text: detail().IsCompleted"></td>
                </tr>
            </table>
        </div>
        <!-- /ko -->
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add To-Do Item</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addTodoItem">
                    <!-- author -->
                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 control-label">Owner</label>
                        <div class="col-sm-10">
                            <select class="form-control" data-bind="options: owners, optionsText: 'Name', value: newTodoItem.Owner"></select>
                        </div>
                    </div>

                    <!-- todo -->
                    <div class="form-group" data-bind="with: newTodoItem">
                        <label class="col-sm-2 control-label" for="inputName">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" data-bind="value: Name" />
                        </div>

                        <label for="inputCreatedDateTime" class="col-sm-2 control-label">Created Date/Time</label>
                        <div class="col-sm-10">
                            <input type="datetime" class="form-control" id="inputCreatedDateTime" data-bind="value: CreatedDateTime" />
                        </div>

                        <label for="inputIsCompleted" class="col-sm-4 control-label">Is Completed?</label>
                        <div class="col-sm-8">
                            <input type="checkbox" data-bind="value: IsCompleted" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>